@use "../../abstracts" as *;

.facial{
    position: relative;

    &::before{
        display: block;
        width: 100%;
        height: 15rem;
        background:{
            image: url("../images/vetor-facial.svg");
            size: cover;
            position: right bottom;
            repeat: no-repeat;
            color: var(--clr-white-500);
        }
        content: '';
    }

    &::after{
        display: block;
        width: 100%;
        height: 15rem;
        background:{
            image: url("../images/vetor-facial.svg");
            size: cover;
            position: right top;
            repeat: no-repeat;
            color: var(--clr-white-500);
        }
        transform: scale(-1, -1);
        content: '';
    }

    &__container{
        &__row{
            &__card{
                @include card;
            }
        }
    }
}